{% extends 'bank/home.html' %} 
{% load crispy_forms_tags %}
{% block content %}

   <div class="content">
        <form method="post">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Login</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Login</button>
                <small class="text-muted">
                    <a class="ml-3" href="{% url 'bank:password_reset' %}">
                        <strong>Forgot Password?</strong>
                    </a>
                </small>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">Don't have an account? <a class="ml-1" href="{% url 'bank:register' %}"><strong>Register</strong></a></small>
        </div>
   </div>

{% endblock content %}