{% extends 'bank/home.html' %}
{% block content %}
    <div class="container">
        <h1>Account Details</h1><br><br>
        <div class="profile" style="font-size: 25px;">
            <table class="table table-dark">
                <tbody>
                    <tr>
                        <td>Name</td>
                        <td>{{object.first_name}} {{ object.last_name }}</td>
                    </tr>
                    <tr>
                        <td>Account Number</td>
                        <td>xxxxxxxxxx{{object.profile.account_number}}</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>{{ object.email }}</td>
                    </tr>
                    <tr>
                        <td>Date Joined</td>
                        <td>{{ object.date_joined|date:"F j, Y" }}</td>
                    </tr>
                </tbody>
            </table>
            <br><br>
        </div>
        <button class="btn btn-primary mr-3" ><a href="{% url "bank:update_profile" %}" style="text-decoration: none; color: #000;">Update Profile</a></button>
        <button class="btn btn-warning" ><a href="{% url "bank:transactions" pk=object.id %}" style="text-decoration: none; color: #000;">Go to banking</a></button>
    </div>
{% endblock content %}